In [110]:
import requests
import pandas as pd
import numpy as np
import json
API_KEY = '-Wsop4rKBVdxzArAiaqK'

In [111]:
r = requests.get('https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?start_date=2017-01-01&end_date=2017-12-31')
# 1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 
#(keep in mind that the date format is YYYY-MM-DD).
# r.json prints python dict

In [112]:
afx = r.json()
type(afx)
# 2. Convert the returned JSON object into a Python dictionary

dict

In [113]:
cn = afx['dataset_data']['column_names']

In [114]:
ts = afx['dataset_data']['data']
# ts prints structure from 'data' key: list of lists

In [115]:
df = pd.DataFrame(ts,columns=cn)

In [118]:
d = df.drop(['Last Price of the Day', 'Daily Traded Units', 'Daily Turnover'],axis=1)
d.head()

         Date   Open   High    Low  Close  Change  Traded Volume   Turnover
0  2017-12-29  51.76  51.94  51.45  51.76     NaN        34640.0  1792304.0
1  2017-12-28  51.65  51.82  51.43  51.60     NaN        40660.0  2099024.0
2  2017-12-27  51.45  51.89  50.76  51.82     NaN        57452.0  2957018.0
3  2017-12-22  51.05  51.50  50.92  51.32     NaN        71165.0  3641949.0
4  2017-12-21  51.16  51.52  50.90  51.40     NaN       120649.0  6179433.0

In [119]:
d['Open'].max()
# 3. Calculate what the highest and lowest opening prices were 
# for the stock in this period.

53.11

In [120]:
d['Open'].min()

34.0

In [121]:
diff = []
for i in d:
    diff = d['High'] - d['Low']
diff.max()
#d[d['High']-d['Low']].max()
# 4. What was the largest change in any one day 
# (based on High and Low price)?

2.8100000000000023

In [122]:
d['Close'].max() - d['Close'].min()
# 5. What was the largest change between any two days 
# (based on Closing Price)?

19.03

In [123]:
d['Traded Volume'].mean()
# 6. What was the average daily trading volume during this year?

89124.33725490196

In [124]:
d['Traded Volume'].median()
# 7. (Optional) What was the median trading volume during this year. 
# (Note: you may need to implement your own function for calculating the median.)

76286.0