In [95]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [96]:
d = json.load(open('sb_assignments/data_wrangling_json/data/world_bank_projects.json'))

In [97]:
df2 = json_normalize(d,'mjtheme_namecode','countryshortname')

In [98]:
df3 = df2.sort_values('name', na_position='first').set_index('code')['name'].to_dict()
df2.loc[df2['name'].str.strip() == '', 'name'] = df2['code'].map(df3)
print(df2.head())

  code                                          name countryshortname
0    8                             Human development         Ethiopia
1   11  Environment and natural resources management         Ethiopia
2    1                           Economic management          Tunisia
3    6         Social protection and risk management          Tunisia
4    5                         Trade and integration           Tuvalu

In [99]:
df2.head(10)

  code                                          name    countryshortname
0    8                             Human development            Ethiopia
1   11  Environment and natural resources management            Ethiopia
2    1                           Economic management             Tunisia
3    6         Social protection and risk management             Tunisia
4    5                         Trade and integration              Tuvalu
5    2                      Public sector governance              Tuvalu
6   11  Environment and natural resources management              Tuvalu
7    6         Social protection and risk management              Tuvalu
8    7                   Social dev/gender/inclusion  Yemen, Republic of
9    7                   Social dev/gender/inclusion  Yemen, Republic of

In [100]:
df2.drop_duplicates().head(10)

   code                                          name    countryshortname
0     8                             Human development            Ethiopia
1    11  Environment and natural resources management            Ethiopia
2     1                           Economic management             Tunisia
3     6         Social protection and risk management             Tunisia
4     5                         Trade and integration              Tuvalu
5     2                      Public sector governance              Tuvalu
6    11  Environment and natural resources management              Tuvalu
7     6         Social protection and risk management              Tuvalu
8     7                   Social dev/gender/inclusion  Yemen, Republic of
10    5                         Trade and integration             Lesotho

In [101]:
grouped= df2.drop('name',axis=1).groupby('countryshortname').count()

In [102]:
grouped.sort_values(by='code',ascending=False).head(10)
# 1. 10 countries with the most projects, projects identified by code

                    code
countryshortname
Indonesia             56
India                 51
Vietnam               43
Bangladesh            41
Brazil                41
China                 40
Africa                39
Yemen, Republic of    34
Morocco               32
Mozambique            31

In [103]:
df2['code'].value_counts().head(10)
# 2a. top 10 major project themes by project 'code'

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [104]:
e = json.load(open('sb_assignments/data_wrangling_json/data/world_bank_projects.json'))
k = json_normalize(e,'mjtheme_namecode','countryshortname')

j = k.sort_values('name', na_position='first').set_index('code')['name'].to_dict()
k.loc[k['name'].str.strip() == '', 'name'] = k['code'].map(j)
print(k.head())
# 3. dataframe with the missing names filled in by 'code' index correspondence with 'name' value

  code                                          name countryshortname
0    8                             Human development         Ethiopia
1   11  Environment and natural resources management         Ethiopia
2    1                           Economic management          Tunisia
3    6         Social protection and risk management          Tunisia
4    5                         Trade and integration           Tuvalu

In [105]:
k['name'].value_counts().head(10)
# 2b. revisited -- top 10 major project themes by project 'name'

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64